:root {
	--background-color: #21202f;
	--secondary-color: #111334;
	--backup-color: #4e0075;
	--text-color: #e7e7e7;
}
* {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	color: var(--text-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;

	scrollbar-color: #432044 var(--background-color);
	scrollbar-width: thin;
}
hr {
	width: 100%;
	border: 2px solid black;
}
body {
	background-color: #21202f;

	min-width: 320px;
	min-height: 100lvh;
	margin-bottom: 200px;

	overflow-x: hidden;
}
:disabled {
	filter: brightness(80%) blur(2px);
}
